---
http_interactions:
- request:
    method: get
    uri: https://pricing.twilio.com/v1/Voice/Countries/EE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<ENCODED AUTH HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.399'
      Twilio-Request-Id:
      - RQc0270750380541dba3e55b5edb51802f
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"country": "Estonia", "iso_country": "EE", "outbound_prefix_prices":
        [{"prefixes": ["37240", "372531", "3725411193", "3725411194", "37254135",
        "37254149", "37256114", "37257466", "37257469", "37258456", "37258620", "37258820",
        "37258990", "37258991", "37258992", "37259121", "37259122", "3725944198",
        "3725944199", "3725995", "3725999568", "3725999569", "372599957", "372599958",
        "37270", "37281", "37282", "3729008"], "friendly_name": "Programmable Outbound
        Minute - Estonia - Other", "base_price": "0.465", "current_price": "0.465"},
        {"prefixes": ["3725"], "friendly_name": "Programmable Outbound Minute - Estonia
        - Mobile", "base_price": "0.4783", "current_price": "0.4783"}, {"prefixes":
        ["372"], "friendly_name": "Programmable Outbound Minute - Estonia", "base_price":
        "0.033", "current_price": "0.033"}], "inbound_call_prices": [{"number_type":
        "national", "base_price": "0.010", "current_price": "0.010"}], "price_unit":
        "USD", "url": "https://pricing.twilio.com/v1/Voice/Countries/EE"}'
  recorded_at: Mon, 21 Aug 2017 03:10:51 GMT
- request:
    method: get
    uri: https://pricing.twilio.com/v1/Messaging/Countries/EE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<ENCODED AUTH HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.388'
      Twilio-Request-Id:
      - RQb084af6f851b48e5b0d29a20b3a34540
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"url": "https://pricing.twilio.com/v1/Messaging/Countries/EE", "country":
        "Estonia", "iso_country": "EE", "price_unit": "USD", "outbound_sms_prices":
        [{"mcc": "248", "mnc": "1", "carrier": "EMT", "prices": [{"number_type": "mobile",
        "base_price": "0.1040", "current_price": "0.1040"}, {"number_type": "local",
        "base_price": "0.1040", "current_price": "0.1040"}]}, {"mcc": "248", "mnc":
        "2", "carrier": "Elisa", "prices": [{"number_type": "mobile", "base_price":
        "0.0845", "current_price": "0.0845"}, {"number_type": "local", "base_price":
        "0.0845", "current_price": "0.0845"}]}, {"mcc": "248", "mnc": "3", "carrier":
        "Tele2", "prices": [{"number_type": "mobile", "base_price": "0.0845", "current_price":
        "0.0845"}, {"number_type": "local", "base_price": "0.0845", "current_price":
        "0.0845"}]}, {"mcc": "248", "mnc": "999", "carrier": "Other", "prices": [{"number_type":
        "mobile", "base_price": "0.0845", "current_price": "0.0845"}, {"number_type":
        "local", "base_price": "0.0845", "current_price": "0.0845"}]}], "inbound_sms_prices":
        [{"number_type": "mobile", "base_price": "0.0075", "current_price": "0.0075"}]}'
  recorded_at: Mon, 21 Aug 2017 03:10:53 GMT
recorded_with: VCR 3.0.3
