---
http_interactions:
- request:
    method: get
    uri: https://pricing.twilio.com/v1/Voice/Countries/KH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<ENCODED AUTH HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.277'
      Twilio-Request-Id:
      - RQ03fe67dd582b4a78896a118e7736fcef
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"country": "Cambodia", "iso_country": "KH", "outbound_prefix_prices":
        [{"prefixes": ["855"], "friendly_name": "Programmable Outbound Minute - Cambodia",
        "base_price": "0.10", "current_price": "0.10"}, {"prefixes": ["8551", "8552",
        "8553", "8554", "8555", "8556", "85570", "85572", "85573", "85574", "85575",
        "85576", "85577", "85578", "85580", "85581", "85583", "85584", "85585", "85586",
        "85587", "85589", "8559"], "friendly_name": "Programmable Outbound Minute
        - Cambodia - Mobile", "base_price": "0.10", "current_price": "0.10"}], "inbound_call_prices":
        [], "price_unit": "USD", "url": "https://pricing.twilio.com/v1/Voice/Countries/KH"}'
  recorded_at: Mon, 21 Aug 2017 03:12:33 GMT
- request:
    method: get
    uri: https://pricing.twilio.com/v1/Messaging/Countries/KH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<ENCODED AUTH HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.613'
      Twilio-Request-Id:
      - RQbc15dbc3117d4503b41d4052e0a4ad83
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"url": "https://pricing.twilio.com/v1/Messaging/Countries/KH", "country":
        "Cambodia", "iso_country": "KH", "price_unit": "USD", "outbound_sms_prices":
        [{"mcc": "456", "mnc": "1", "carrier": "MobiTel", "prices": [{"number_type":
        "mobile", "base_price": "0.044", "current_price": "0.044"}, {"number_type":
        "local", "base_price": "0.044", "current_price": "0.044"}]}, {"mcc": "456",
        "mnc": "18", "carrier": "Mfone", "prices": [{"number_type": "mobile", "base_price":
        "0.044", "current_price": "0.044"}, {"number_type": "local", "base_price":
        "0.044", "current_price": "0.044"}]}, {"mcc": "456", "mnc": "2", "carrier":
        "Hello", "prices": [{"number_type": "mobile", "base_price": "0.0[...]
